*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenitore{
}

.contenitore .citta{
  height: 33.33vh;
  width: 100%;
  position: relative;
  margin: 0 auto;
}


.contenitore .citta .box h2{
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 4px 4px rgb(176, 184, 179);
}

.citta .box.photo{
  height: 100%;
  background-size: cover;
  background-position: center;
}

#roma{
  background-image: url('https://www.itinerarinellarte.it/pics/colosseo.jpg');
}

#milano{
  background-image: url('https://a.mytrend.it/prp/2019/06/791946/o.517066.jpg');
}

#napoli{
  background-image: url('https://www.eurospin-viaggi.it/media/immagini/36048_n_Napoli_1.jpg');
}
