*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  background-color: white;
  height: 80px;
  width: 100vw;
  z-index: 1;
  position: fixed;
}

nav{
  height: 80px;
  width: 100%;
  text-align: center;
  z-index: 1;
  position: fixed;
}

ul.menu{
  color: rgba(255, 62, 75, 0.65);
  background-color: rgba(255, 62, 75, 0.33);
  text-transform: capitalize;
}

#logo{
  width: 90px;
  vertical-align: middle;
  position: absolute;
  top: 10px;
  left: 5px;
  cursor: default;
}

.menu li{
  list-style: none;
  line-height: 80px;
}

ul.menu li:hover .layover{
  display: none;
}

.menu li, .terms li{
  display: inline-block;
  padding: 0 20px;
  font-family: monospace;
}

ul.menu li:hover {
  color: rgb(255, 62, 75);
  cursor: pointer;
  background-color: rgba(255, 62, 75, 0.37);
  font-family: none;
}


  /* fine header */

.contenitore{
  padding-top: 80px;
}

.contenitore .citta{
  height: 40vh;
  width: 100vw;
  position: relative;
  margin: 0 auto;

}

.contenitore .citta .box{
  background-color: rgba(21, 23, 20, 0.37);
  width: 100%;
}

.contenitore .citta .box h2{
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 5px 3px rgba(255, 62, 75, 0.6);
}

.citta .box.photo{
  height: 100%;
  background-size: cover;
  background-position: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.citta:first-child .box.photo{
  border-top: none;
}

.citta:last-child .box.photo{
  border-bottom: none;
}

.box.photo .layover{
  background-color: rgba(31, 36, 35, 0.4);
  height: 100%;
  width: 100%;
}

.box:hover .layover{
  display: none;
}

.box.photo:hover h2{
  text-shadow: none;
  font-size: 50px;

}

h2:hover{
  cursor: default;
}

#roma{
  background-image: url('https://www.itinerarinellarte.it/pics/colosseo.jpg');
}

#milano{
  background-image: url('https://a.mytrend.it/prp/2019/06/791946/o.517066.jpg');
}

#napoli{
  background-image: url('https://www.eurospin-viaggi.it/media/immagini/36048_n_Napoli_1.jpg');
}

#firenze{
  background-image: url('https://cdn.pixabay.com/photo/2016/03/29/21/06/florence-1289364__340.jpg');
}

/* footer */


footer{
  background-color: rgba(255, 62, 75, 0.33);
  height: 31px;
  width: 100vw;
  text-align: center;
  border: 1px solid #ff3e4b;
}

.terms li{
  cursor: pointer;
  color: rgb(255, 62, 75);
  text-transform: capitalize;
  line-height: 30px;
}

.terms li:first-child{
  cursor: default;
  text-transform: lowercase;
}

#registered{
  font-size: 12px;
}
